/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@font-face {
    font-family: 'Georgia Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Italic'), url('georgiaz.woff') format('woff');
    top: 10px;
    font-size: 35px;
    font-family: 'Roboto Condensed', sans-serif;
    word-spacing: 5px;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    cursor: none;
}


#mouse-circle {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: -32px 0 0 -32px;
    border: 1px solid #0f1c64;
    border-radius: 50%;
    pointer-events: none;
}

#mouse-circle::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 50%;
}



.header{
    background-image: url(images/bg.87635d9.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}

nav{
    display: flex; 
    justify-content: space-around; 
    color: white;
    position: relative;
    top: 20px;
}

nav ul li{
    display: inline;
    padding: 0 20px;
    color: #838086;
    font-family: 'Roboto Condensed', sans-serif;
}

nav ul li:hover{
    color: #ffffff;
}

a{
    text-decoration: none;
    cursor: none;
}

#active{
    color: #ffffff;
}

.logo{
    align-items: center;
}
.menu{
    position: relative;
    top: 20px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}

.st1 {
    color: #5918df;
    font-size: 40px;
    position: relative;
    top: 5px;
}
.st2{
    color: #474646;
}
.name{
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    color: white;
}


.line{
    border-left: 2px solid #5918df;
    height: 5000px;
    position: absolute;
    left: 25%;
    margin-left: -3px;
    top: 175px;
}

.line::before{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    left: -0.02em;
    transform: translate(-50%, -50%);
    background-color: #1a181e;
    border-radius: 50%;
    border: #5918df solid 2px;
}

.content{
    position: absolute;
    width: 50%;
    color: #fff;
    z-index: 2px;
    left: 28%;
    top: 160px;
}



.entry-content{
    position: relative;
    top: 10px;
    margin-top: 10px;
    /* font-size: 35px; */
    font-family: 'Roboto Condensed', sans-serif;
    word-spacing: 5px;
    font-weight: bolder;
    top: 10px;
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    word-spacing: 5px;
    font-weight: bolder;
}

.indicator {
    width: 50px; 
    height:70px;
    border: 2px solid #fff;
    border-radius: 50px; 
    position: relative;
    top: 150px;
    right: 73px;
}
.indicator:before {
    content: ""; 
    position: absolute;
    width: 10px; 
    height: 10px;
    background: #5918df; 
    margin: auto;
    left: 0; 
    right: 0;
    top: 2px; 
    border-radius: 50%;
    animation: animate 1s linear infinite; 
}

@keyframes animate {
    0% {
        opacity: 1; top: 30px;
    }
    100% {
        opacity: 0; top: 100px;
        transform: scale(0.8);
    }
}



/* @media (max-width:1600px) {
   
} */

@media screen and (max-width:1440px) {

    .header{
        background-size: 1940px 700px;
        height: 600px;
    }

    .content{
        position:absolute;
        top: 120px;
        width: 50%;
        color: #fff;
        z-index: 2px;
        margin-top: 20px;
        left: 400px;        
    }

    .indicator{
        left: -60px;
        width: 35px;
        height: 45px;
        top: 20px;
    }
        
    .line{
        position: absolute;
        left: 25%;
        margin-left: -3px;
        top: 160px;
    }
    
    .entry-content{
        font-size: 50px;
    }

}


@media screen and (max-width:1200px) {
    .header{
        height: 600px;
    }
    .content{
        position:absolute;
        top: 120px;
        width: 80%;
        color: #fff;
        z-index: 2px;
        margin-top: 20px;
        left: 200px;        
    }

    .name{
        font-size: 30px;
        font-family: 'Roboto Mono', monospace;
        font-weight: bolder;
        color: white;
    }

    .indicator{
        left: -56px;
        width: 35px;
        height: 45px;
        top: 20px;
    }
        
    .line{
        position: absolute;
        left: 16%;
        margin-left: -3px;
        top: 160px;
    }
    
    .entry-content{
        font-size: 50px;
    }

    .menu{
        position: relative;
        top: 20px;
        left:320px;
    }

    .nav-bar{
        display: flex;
        justify-content: start;
        align-items: start;
        margin-left: 25px;
    }
    
}


@media screen and (max-width:890px) {

    .header{
        height: 600px;
    }

    .content{
        position:absolute;
        top: 120px;
        width: 80%;
        color: #fff;
        z-index: 2px;
        margin-top: 20px;
        left: 160px;        
    }
    
    

    .indicator{
        left: -50px;
        width: 35px;
        height: 45px;
        top: 36px;
    }
        
    .line{
        position: absolute;
        left: 16%;
        margin-left: -3px;
        top: 160px;
    }
    
    .entry-content{
        font-size: 30px;
    }

    .menu{
        position: relative;
        top: 20px;
        left:220px;
    }

    .nav-bar{
        display: flex;
        justify-content: start;
        align-items: start;
        margin-left: 25px;
    }
    
}

@media screen and (max-width:768px) {
    .content{
        position:absolute;
        top: 120px;
        width: 80%;
        color: #fff;
        z-index: 2px;
        margin-top: 20px;
        left: 160px;        
    }
    
    .name{
        font-size: 30px;
    }

    .entry-content{
        font-size: 40px;
    }

    .indicator{
        left: -56px;
        width: 35px;
        height: 45px;
        top: 20px;
    }
        
    .line{
        position: absolute;
        left: 16%;
        margin-left: -3px;
        top: 160px;
    }
    

    .menu{
        position: relative;
        top: 20px;
        left:160px;
    }

    .nav-bar{
        display: flex;
        justify-content: start;
        align-items: start;
        margin-left: 25px;
    }
    
}

@media screen and (max-width:426px){

    .header{
        height: 550px;
    }

    .content{
        position:absolute;
        top: 80px;
        width: 60%;
        color: #fff;
        z-index: 2px;
        margin-top: 20px;
        left: 70px;        
    }
    
    .indicator{
        left: -48px;
        width: 35px;
        height: 45px;
        top: -20px;
    }
        
    .line{
        position: absolute;
        left: 10%;
        margin-left: -3px;
        top: 120px;
    }
    
    .entry-content{
        font-size: 30px;
    }
    
    .menu{
        display: none;
    }
    
    .nav-bar{
        display: flex;
        justify-content: start;
        align-items: start;
        margin-left: 25px;
    }

}




@media screen and (max-width:320px) {

    .header{
        height: 600px;
    }

    .content{
    position:absolute;
    top: 80px;
    width: 60%;
    color: #fff;
    z-index: 2px;
    left: 60px;        
    }

    .indicator{
        left: -48px;
        width: 35px;
        height: 45px;
        top: -30px;
    }
    
    .line{
        border-left: 2px solid #5918df;
        height: 5000px;
        position: absolute;
        left: 10%;
        margin-left: -3px;
        top: 120px;
    }

    .entry-content{
        font-size: 10px;
    }

    .menu{
        display: none;
    }

    .nav-bar{
        display: flex;
        justify-content: start;
        align-items: start;
        margin-left: 25px;
    }

    .entry-content{
        font-size: 30px;
    }
        
}